<!doctype html>
<html>
{{template "head" .}}
    <body>
	{{template "navbar" .}}
	<div class="container-fluid">
		{{range .Houses}}
		<h2 class="text-center" id="message">Mortgage Application for {{.Address}}</h2>
		<div class="radio text-center well">
			<h4>Select lender:</h4>
			<div>
			<img src="/images/star.png"/ style="height:9em ; width:9em" onClick="selectLender('1');">
			<label for="l1" >
				<input type="radio" name="lender" id="l1" value="1"/>
				Mortgage Star
			</label>
			<img src="/images/storm.png"/ style="height:9em ; width:9em" onClick="selectLender('2');">
			<label>
				<input type="radio" name="lender" id="l2" value="2"/>
				Lending Storm
			</label>
			<img src="/images/leaf.png"/ style="height:9em ; width:9em" onClick="selectLender('3');">
			<label>
				<input type="radio" name="lender" id="l3" value="2"/>
				GreenCents	
			</label>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group" >
				<span class="input-group-addon">$</span>
				<input type="text" id="amount" class="form-control" placeholder="Mortgage Amount" onKeyUp="formatInput(this,'#applyButton');"/>
				<span class="input-group-btn">
					<input id="applyButton" type="button" class="btn btn-primary" value="Apply" onClick="apply('{{.ID}}','{{.Contract}}');"/>
				</span>
			</div>
		</div>
		{{end}}
	</div>
    </body>
    <script>
	function apply(houseID,c) {
		amount=$("#amount").val();
		amount=parseInt(amount.replace(",","").replace(".",""));
		if ($.isNumeric(amount)) {
			l=$("input[name=lender]").val();
	
			parameters={"amount":amount,"lender":l};
	
			var form = $('<form></form>');
	    		form.attr("method", "post");
			form.attr("action", {{.URL}} + "/house/" + houseID + "/enterMortgage");
	
	    		$.each(parameters, function(key, value) {
	        		var field = $('<input></input>');
	
	        		field.attr("type", "hidden");
	        		field.attr("name", key);
	        		field.attr("value", value);
	
	        		form.append(field);
			});
			$(document.body).append(form);
	    		form.submit();
		} else {
			alert("Please enter a mortgage amount.");
		}

	}

	function selectLender(id) {
		$("#l" + id).prop("checked",true);
	}

    </script>
</html>
