<!doctype html>
<html>
    <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/blockparty.css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/web3.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/d3.min.js"></script>
    <script type="text/javascript" src="/js/blockparty.js"></script>
    <title>BlockParty</title>
    </head>
    <body>
	 {{template "navbar" .}}
	<div class="container-fluid">
		<h2 class="text-center" id="message">{{.Message}}</h2>
		<div class="col-xs-3"></div>
		<div class="col-xs-6 well">
			<span class="center-block">
			<input id="return" type="button" class="btn btn-primary center-block" value="Return to Listings" onClick="returnToListings();"/>
			</span>
		</div>
		<div class="col-xs-3"></div>
	</div>
    </body>
    <script>
	mainUrl={{.Url}};
	user={{.User}};
	houses={{.Data}};
	house=houses[0];

	name=house.name;
	contract=house.contract;


	function returnToListings() {
    		window.location=mainUrl;
	}

    </script>
</html>
