<!doctype html>
<html>
{{template "head" .}}
    <body>
	{{template "navbar" .}}
	<div class="container-fluid">
		<h2 class="text-center" id="title">Bids</h2>
		<div id="bidTable">
			<table class="table table-striped">
			<thead>
				<tr>
					<th>User</th>
					<th>House Id</th>
					<th>Bid</th>
					<th colspan="2" class="text-center">Action</th>
				</tr>
			</thead>
			<tbody id="tableData">
			{{range .Bids}}
				<tr>
					<td>{{.User}}</td>
					<td>{{.HouseId}}</td>
					<td>$<script>document.write(({{.Amount}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')); </script></td>
					{{if eq .Status "Submitted"}}
					<td><input type="button" class="btn btn-success center-block" value="Accept" onClick="changeBidStatus('{{.User}}','{{.HouseId}}','Accepted');"/></td>
					<td><input type="button" class="btn btn-danger center-block" value="Reject" onClick="changeBidStatus('{{.User}}','{{.HouseId}}','Rejected');"/></td>
					{{else}}
						<td style="color:#9A9A9A" class="text-center" colspan="2">{{.Status}}</td>
					{{end}}
				</tr>
			{{end}}
			</tbody>
			</table>
		</div>
	</div>
    </body>
    <script>
	function changeBidStatus(user,houseId,status) {
		window.location={{.Url}} + "/house/" + houseId + "/bid/" + user + "/changeStatus/" + status;
	}
    </script>
</html>
