<!doctype html>
<html>
{{template "head"}}
    <body>
	{{template "navbar" .}}
	<div class="container-fluid">
			<div class="center-block">
				<div id="housePanel" class="panel {{range .Houses}}{{if eq .Status "sold"}}panel-default{{else}}panel-success{{end}}{{end}}">
					<div class="panel-heading">
						<h3 class="panel-title" id="panel-title">{{range .Houses}}{{.Name}}{{end}}</h3>
					</div>
					<div class="panel-body">
						<div class="label label-success" id="forSale" 
							style="visibility:{{range .Houses}}{{if eq .Status "sold"}}hidden{{else}}visible{{end}}{{end}}">For Sale!</div>
						<div>
							<div>
								<img alt="house image" src="/images/{{range .Houses}}{{.Image}}{{end}}" 
									id="houseImage" class="houseImage center-block" onClick="showUser();"/>
							</div>
							<div class="description" id="description">{{range .Houses}}{{.Description}}{{end}}</div>
						</div>
						<div>
							<div><span class="glyphicon glyphicon-bed" id="bedrooms"></span> {{range .Houses}}{{.Bedrooms}}{{end}} bedrooms</div>
							<div><span class="glyphicon glyphicon-scale" id="bathrooms"></span> {{range .Houses}}{{.Bathrooms}}{{end}} bathrooms</div>
						</div>
						<input type="hidden" value="{{.User}}" id="bidUser"/>
						<div class="col-xs-12 text-center bidInfo" id="price" 
						 	style="visibility:{{range .Houses}}{{if eq .Status "sold"}}hidden{{else}}visible{{end}}{{end}}">
						<script>
							price={{range .Houses}}{{.Price}}{{end}}
							document.write("Asking Price: $" + price.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
						</script>
						</div>
						<div class="form-group">
							<div class="input-group bidInfo" >
								<span class="input-group-addon">$</span>
								<input type="text" id="bidAmount" class="form-control" placeholder="Bid Amount" onKeyUp="formatBid();"/>
								<span class="input-group-btn">
									<input id="bidButton" type="button" class="btn btn-success" value="Bid" 
								     onClick="bidOnHouse('{{range .Houses}}{{.Id}}{{end}}','{{.User}}');"/>
								</span>
							</div>
						</div>
						<div class="form-group">
							<input type="button" class="form-control btn btn-primary" data-toggle="modal" data-target="#historyModal" value="View History"/>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" tabindex="-1" role="dialog" id="historyModal">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-title">History for {{range .Houses}}{{.Name}}{{end}}</h4>
			      </div>
			      <div class="modal-body">
			       	<div>2016-12-12 11:59:22 - House listed</div> 
				<div class="glyphicon glyphicon-arrow-down"></div>
			       	<div>2016-12-12 22:14:07 - House verified</div> 
				<div class="glyphicon glyphicon-arrow-down"></div>
				<div>2016-12-14 08:21:39 - Bid recevied from user</div> 
				<div class="glyphicon glyphicon-arrow-down"></div>
				<div>2016-12-16 14:45:13 - Bid recevied from user2</div> 
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<div id="user" style="display: none" class="col-xs-12 text-center">User: {{.User}}</div>
	</div>
    </body>
    <script>
	
	function formatBid() {
    		var selection = window.getSelection().toString();
    		if ( selection !== '' ) {
        		return;
    		}
 
    		if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
        		return;
    		}

		var input = $("#bidAmount").val();
 
		var input = input.replace(/[\D\s\._\-]+/g, "");
 
		input = input ? parseInt( input, 10 ) : 0;
 
		$("#bidAmount").val( function() {
    			return ( input === 0 ) ? "" : input.toLocaleString( "en-US" );
		} );
 
	}

	function showUser() {
		$("#user").toggle();
	}

	function bidOnHouse(houseId) {
		bidAmount=$("#bidAmount").val();
		parameters={"bidAmount":bidAmount};

		var form = $('<form></form>');
    		form.attr("method", "post");
		form.attr("action", {{.Url}} +"/house/"+houseId+"/enterBid");

    		$.each(parameters, function(key, value) {
        		var field = $('<input></input>');

        		field.attr("type", "hidden");
        		field.attr("name", key);
        		field.attr("value", value);

        		form.append(field);
		});
		$(document.body).append(form);
    		form.submit();

	}
    </script>
</html>

