{{define "housePanel"}}	
	<div class="col-md-4">
		<div class="panel {{if eq .Status "sold"}}panel-primary{{else}}panel-success{{end}}">
			<div class="panel-heading">
				<h3 class="panel-title">{{.Name}}</h3>
			</div>
			<div class="panel-body">	
				<a onClick="showDetails('{{.Id}}');">
					<span style="{{if eq .Status "sold"}}visibility:hidden{{else}}visibility:visible{{end}}" class="label label-success">
						For Sale!
					</span>
					<img src="images/{{.Image}}" class="houseImage center-block"/>
					<div class="text-center">{{.Description}}</div>
					<div class="text-center">$
					<script>
						document.write(parseFloat("{{.Price}}").toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
					</script>
					</div>
					<div>
						<input type="button" class="btn center-block {{if eq .Status "sold"}}btn-primary{{else}}btn-success{{end}}" value="View Listing" onClick="showDetails('{{.Id}}');"/>
					</div>
				</a>
			</div>
		</div>
	</div>
{{end}}
