<!DOCTYPE html>
<html>
<head>
<title>EasyCode for {{.Name}}</title>
<link href="/css/bootstrap.min.css" rel="stylesheet"/>
<script type='text/javascript' src='/js/jquery.min.js'></script>
<script type='text/javascript' src='/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/js/d3.min.js'></script>
<script>
function loadMap() {
var locations=[{"location" : {{.Name}}}];
var mapview=d3.select("#mapview").selectAll(".map").data(locations);
	mapview.exit().remove();
	mapview.enter()
		.append("iframe")
			.attr("width","500")
			.attr("height", "400")
			.attr("frameborder","0")
			.attr("style","border:0")
			.attr("src",function(d) { return "https://www.google.com/maps/embed/v1/place?key=AIzaSyDFp34f_0qNT4ryT88FnXHlf8RKOMTSL40" + String.fromCharCode(38) + "q=" + d.location;});
} 
 
function initialize() {
 loadMap();
 }
</script>

<style>
      #mapview {
        width: 500px;
        height: 400px;
		background-color : #CCC;
      }
</style>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">EasyCode</a>
			  
			</div>
			<img class="col-xs-3" src="/images/dellemclogo.png"/>
		  </div>
    </nav>
	<center>
	<div id='message' class="row col-xs-12"><h1>Coding in Go is easy for the folks in {{.Name}}!</h1></div>
	<img src='/images/cf.png'/>
	<div id='mapview'></div>
	
	</center>
</body>
<script>
window.onload=initialize();
</script>
</html>

