<!doctype html>
<html>
{{template "head"}}
    <body>
	{{template "navbar" .}}
	<div class="container-fluid">
		{{range .Houses}}
			<h2 class="text-center" id="message">Inspection for {{.Name}}</h2>
		{{end}}
	</div>
    </body>
    <script>
	mainUrl={{.Url}};
    </script>
</html>
