<!doctype html>
<html>
{{template "head" .}}
	<body>
	{{template "navbar" .}}
	<img style="display:none" onClick="showPersona();" alt="Pathfinder Logo" id="pathfinder" class="center-block" src="/images/Pathfinder-Logo.png"/>
	<div id="listings" class="container" style="display:none">
		<div id="houses" class="row">
		{{range .Houses}}
			{{template "housePanel" .}}
		{{end}}
		</div>
	</div>
	</body>
	<script>
		$("#persona").hide();
		$("#pathfinder").show();
		$("#listings").show();

    		function showDetails(houseID) {
			window.location={{.URL}}+"/house/"+houseID;
		}
	</script>
</html>
