<!doctype html>
<html>
{{template "head" .}}
    <body>
	{{template "navbar" .}}
	<div class="container-fluid">
		<div class="center-block">
			<img alt="house image" src="/images/{{range .Houses}}{{.Image}}{{end}}" id="houseImage" class="houseImage center-block" onClick="showUser();"/>
		</div>
		<h2 id="message" class="text-center"></h2>
		<div class="well" id="buttons" style="display:none">
			<div class="text-center">
		{{range .Bids}}
				<input id="apply" type="button" class="btn btn-primary" style="display:none" value="Apply for Mortgage" onClick="applyForMortgage({{.HouseID}});"/>
		{{end}}
				<input id="return" type="button" class="btn btn-primary" value="Return to Listings" onClick="returnToListings();"/>
			</div>
		</div>
	</div>
    </body>
    <script>
	mainURL={{.URL}};
	houseID=window.location.pathname.replace("/house/","").replace("/myBid","");
		
	userAddress={{range .Users}}{{.Address}}{{end}};


	function updateStatus(){
		$.getJSON(mainURL + "/house/" + houseID + "/info",{ts:Date.now()},handleStatus);
	}

	function handleStatus(data) {
		c=data.contract;	
		response=listBids(c);
		var bid = {};
		for (i=0; i < response.numberBids ; i++) {
			if (response.bids[i].bidder == userAddress) {
				bid=response.bids[i];
				break;
			}
		}
		if (bid.status != 1) {
			clearInterval(interval);
		}
		setMessage(bid);
	}

	function setMessage(b) {
		if (b.status == 2) { // Accepted 
			message="Congratulations! Your bid has been accepted!";
			$("#buttons").show();
			$("#apply").show();
		} else if (b.status == 3) { // Rejected 
			message="The seller has accepted another bid.";
			$("#buttons").show();
		} else { // Submitted 
			message="You have bid $" + formatAmount(b.amount) + " for this house.";
		}
		$("#message").html(message);
	}

	updateStatus(); 
	interval=setInterval(updateStatus,5000);

	function applyForMortgage(i) {
    		window.location=mainURL + "/house/" + i + "/applyForMortgage";
	}

	function returnToListings() {
    		window.location=mainURL;
	}
	
    </script>
</html>
