<!doctype html>
<html>
{{template "head"}}
    <body>
	{{template "navbar" .}}
	<div class="container-fluid">
		<h2 class="text-center" id="title"></h2>
		<div id="bidTable">
			<table class="table table-striped">
			<thead>
				<tr>
				<th>Contract</th>
				<th>Bid</th>
				<th>Status</th>
				</tr>
			</thead>
			<tbody id="tableData">
			</tbody>
			</table>
		</div>
	</div>
    </body>
    <script>
	mainUrl={{.Url}};
	user={{.User}};
	bids={{.Data}};


	$("#title").text("My Bids");

	table=d3.select("#tableData").selectAll("tr").data(bids);

	row=table.enter()
		.append("tr");
	
	row
		.append("td")
		.text(function(d){return d.contract;});
	row
		.append("td")
		.text(function(d){return "$"+d.amount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');});
	row
		.append("td")
		.text(function(d){return d.status});

    </script>
</html>
