<!doctype html>
<html>
{{template "head" .}}
    <body>
	{{template "navbar" .}}
	<div class="container-fluid">
		<h2 class="text-center" id="title">My Bids</h2>
		<div id="bidTable">
			<table class="table table-striped">
			<thead>
				<tr>
				<th>House ID</th>
				<th>Amount</th>
				<th>Status</th>
				</tr>
			</thead>
			<tbody id="tableData">
			{{range .Bids}}
				<tr onClick="showMyBid('{{.HouseID}}');">
					<td><a>{{.HouseID}}</a></td>
					<td>$<script>document.write(formatAmount({{.Amount}})); </script></td>
					<td>{{.Status}}</td>
				</tr>
			{{end}}
			</tbody>
			</table>
		</div>
	</div>
    </body>
    <script>
	function showMyBid(houseID) {
		window.location={{.URL}} + "/house/" + houseID + "/myBid";
	}
    </script>
</html>
