{{ define "navbar" }}
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a id="brand" onClick="showListings();" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> BlockParty</a>
		</div>
		<a class="navbar-brand navbar-right" id="myBids" onClick="showMyBids();"> <span class="glyphicon glyphicon glyphicon-list-alt"> MyBids</span></a>
	  </div>
</nav>	    
<script>
	mainUrl={{.Url}};
	function showListings() {
    		window.location=mainUrl
	}

	function showMyBids() {
    		window.location=mainUrl+"/mybids";
}
</script>
{{end}}
