{{ define "navbar" }}
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<a id="brand" href="{{.Url}}" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> BlockParty</a>
		<p class="navbar-text navbar-right text-right">
			<a id="myBids" href="{{.Url}}/mybids" class="navbar-link"><span class="glyphicon glyphicon glyphicon-list-alt"></span> My Bids</a>
		</p>
	</div>
</nav>	    
{{end}}
