{{ define "navbar" }}
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myLists" aria-expanded="false">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
			<a id="brand" href="{{.URL}}" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> BlockParty</a>
      		</div>
		<div class="collapse navbar-collapse navbar-right" id="myLists">
			<ul class="nav navbar-nav">
        			<li class="dropdown">
          				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="glyphicon glyphicon-user"></span> Personas <span class="caret"></span>
					</a>
          				<ul class="dropdown-menu">
						<li><a href="{{.URL}}/seller"><span class="glyphicon glyphicon-paste"></span> Seller</a></li>
						<li><a href="{{.URL}}/lender"><span class="glyphicon glyphicon-credit-card"></span> Lender</a></li>
						<li><a href="{{.URL}}/appraiser"><span class="glyphicon glyphicon-th-list"></span> Appraiser</a></li>
          				</ul>
        			</li>
      			</ul>
					<a id="myBids" href="{{.URL}}/myBids" class="navbar-brand"><span class="glyphicon glyphicon glyphicon-list-alt"></span> My Bids</a>
					<a id="myMortgages" href="{{.URL}}/myMortgages" class="navbar-brand"> <span class="glyphicon glyphicon glyphicon-piggy-bank"></span> My Mortgages</a>
		</div>
	</div>
</nav>	    
{{end}}

