<!doctype html>
<html>
{{template "head"}}
    <body>
	{{template "navbar" .}}
	<img alt="Pathfinder Logo" class="center-block" src="images/Pathfinder-Logo.png"/>
	<div id="listings" class="container-fluid">
		<div id="houses">
		{{range .Houses}}
			<div class="col-md-4">
				<div class="panel {{if eq .Status "sold"}}panel-primary{{else}}panel-success{{end}}">
					<div class="panel-heading">
						<h3 class="panel-title">{{.Name}}</h3>
					</div>
					<div class="panel-body">
						<span class="label label-success" style="{{if eq .Status "sold"}}visibility:hidden{{else}}visibility:visibile{{end}}">For Sale!</span>
						<img src="images/{{.Image}}" class="houseImage center-block"/>
						<div class="text-center">{{.Description}}</div>
						<div class="text-center">$
							<script>document.write(parseFloat("{{.Price}}").toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));</script>
						</div>
						<div>
						{{if eq .Status "sold"}}
							<input type="button" class="btn btn-primary center-block" value="List House" onClick="listHouse('{{.Contract}}');"/>
						{{else}}
							<div class="text-center">
								<input type="button" class="btn btn-success" value="View Bids" onClick="showBids('{{.Contract}}');"/>
								<input type="button" class="btn btn-primary" value="Delist House" onClick="delistHouse('{{.Contract}}');"/>
							</div>
						{{end}}
						</div>
						<div>
						</div>
					</div>
				</div>
			</div>
		{{end}}
		</div>
	</div>
    </body>
    <script>
    	function showBids(contract) {
		window.location={{.Url}} +"/house/" + contract + "/bids";
	}

    	function listHouse(contract) {
		window.location={{.Url}} +"/house/" + contract + "/changeStatus/listed";
	}

    	function delistHouse(contract) {
		window.location={{.Url}} +"/house/" + contract + "/changeStatus/sold";
	}

    </script>
</html>
