<!doctype html>
<html>
    <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/blockparty.css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/web3.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/d3.min.js"></script>
    <script type="text/javascript" src="/js/blockparty.js"></script>
    <title>BlockParty</title>
    </head>
    <body>
	{{template "navbar" .}}
	<img alt="Pathfinder Logo" class="center-block" src="images/Pathfinder-Logo.png"/>
	<div id="listings" class="container-fluid">
		<div id="houses" class="row"></div>
	</div>
    </body>
    <script>
	var mainUrl={{.Url}};
	var user={{.User}};
	var houses={{.Data}};

	function initialize() {
		var listings=d3.select("#houses").selectAll("div").data(houses);
	
		houseDiv=listings.enter()
			.append("div")
				.filter(function(d) {return d.status != "sold"})
				.attr("class","col-md-3")
				.append("div")
				.attr("class","panel panel-success");
	
	
		houseDivHeading=houseDiv
				.append("div")
				.attr("class","panel-heading");

		houseDivHeading
			.append("h3")
				.attr("class","panel-title")
				.text(function(d){return d.name;});
	
		var houseDivContent= houseDiv.append("div")
			.attr("class","panel-body")
			.append("a")
				.attr("onClick",function(d){return "showDetails('"+d.contract+"');"});
	
		houseDivContent
			.append("span")
				.attr("style","visibility:visible; ")
				.attr("class","label label-success")
				.text("For Sale!");
		houseDivContent
			.append("img")
			.attr("src", function(d){return "images/" + d.image;})
			.attr("class","houseImage center-block");
		
		houseDivContent
			.append("div")
			.attr("class","text-center")
			.text(function(d){return d.description;});
	
		houseDivContent
			.append("div")
			.attr("class","text-center")
			.text(function(d){return '$' + d.price.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');});
	
		houseDivContent
			.append("div")
				.append("input")
					.attr("type","button")
					.attr("class","btn btn-primary center-block")
					.attr("value","View Bids")
					.attr("onClick",function(d){return "showBids('"+d.contract+"');"});
		listings.exit().remove();
	}

    	function showBids(contract) {
    		window.location=mainUrl +"/house/" + contract + "/bids";
	}

	initialize();
    </script>
</html>
