<!doctype html>
<html>
{{template "head" .}}
    <body>
	{{template "navbar" .}}
	<h2 style="display:none" class="text-center" id="url">{{.URL}}</h2>
	<img id="logo" alt="Pathfinder Logo" class="center-block" src="/images/Pathfinder-Logo.png" data-toggle="modal" data-target="#ssModal"/>
	<div id="listings" class="container-fluid">
		<div id="houses">
		{{range .Houses}}
			<div class="col-md-4">
				<div class="panel {{if eq .Status "Sold"}}panel-primary{{else}}panel-success{{end}}">
					<div class="panel-heading">
						<h3 class="panel-title">{{.Address}}</h3>
					</div>
					<div class="panel-body">
						<span class="label label-success" style="{{if eq .Status "Sold"}}visibility:hidden{{else}}visibility:visibile{{end}}">For Sale!</span>
						<img src="/images/{{.Image}}" class="houseImage center-block"/>
						<div class="text-center" style="visibility:{{if eq .Status "Sold"}}hidden{{else}}visible{{end}}">$
							<script>document.write(formatAmount({{.Price}}));</script>
						</div>
						<div>
						{{if eq .Status "Sold"}}
							<input type="button" class="btn btn-primary center-block" value="List House" onClick="listHouse('{{.ID}}');"/>
						{{else}}
							<div class="text-center">
								<input type="button" class="btn btn-success" value="View Bids" onClick="showBids('{{.ID}}');"/>
								<input type="button" class="btn btn-primary" value="Delist House" onClick="delistHouse('{{.ID}}','{{.Contract}}');"/>
							</div>
						{{end}}
						</div>
						<div>
						</div>
					</div>
				</div>
			</div>
		{{end}}
		</div>
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" id="ssModal">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="modal-title">Bid Process</h4>
                              </div>
                              <div class="modal-body">
				      <div class="container">
				      <div class="row">
						<div class="col-xs-3"><img class="screenshot" src="/images/accepted.png"/></div>
						<div class="col-xs-3"><img class="screenshot" src="/images/rejected.png"/></div>
					</div>
					</div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

    </body>
    <script>
	
    	function showBids(ID) {
		window.location={{.URL}} +"/house/" + ID + "/bids";
	}

    	function listHouse(ID) {
		window.location={{.URL}} +"/house/" + ID + "/listHouse";
	}

    	function delistHouse(ID, contract) {
		callHouseNotForSale(contract,'{{range .Users}}{{if eq .Type "System"}}{{.Address}}{{end}}{{end}}');
		window.location={{.URL}} + "/house/" + ID + "/changeStatus/Sold";
	}
    </script>
</html>
